<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <%   newListItems.forEach((singleItem) =>{ %>
      <form method="POST" action="/delete">
      <div class="item">
        <input type="checkbox" onChange="this.form.submit()" name="checkBox" value= <%= singleItem._id %> >
        <p><%=  singleItem.name  %></p>
      </div>
      <input type="hidden" name="listCon" value=<%= listTitle %>> </input>
    </form>
      <% }) %>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value= <%= listTitle %>>+</button>
      </form>
  </div>

<%- include("footer") -%>
